header a:first-child {
  float: right;
  margin: 0 0 20px 30px;
}

.container-body {
  position: relative;
  height: 300px;
  overflow-y: auto;
  border: 1px solid #0a0a0a;
  margin-top: 0;
  margin-bottom: 0;
}