<style>
  video: {
    width: 100%;
  }
</style>

<blockquote>
  <small>Firefox does not support MediaStreamTrack.getSources. You might select a stream manually
when getUserMedia is invoked.</small>
</blockquote>

</p>
<div class="input-group">
  <span class="input-group-addon">Audio Track</span>
  <select id="audioTrackList" class="form-control"></select>
</div>
<div class="input-group">
  <span class="input-group-addon">Video Track</span>
  <select id="videoTrackList" class="form-control"></select>
</div>

<hr>
<div class="btn-group">
  <button class="btn btn-default btn-sm" onclick="getStream()">Get Stream</button>
  <button class="btn btn-default btn-sm" onclick="stopStream()">Stop Stream</button>
  <button class="btn btn-default btn-sm" onclick="stopVideoTrack()">Stop Track-Video</button>
  <button class="btn btn-default btn-sm" onclick="muteVideoTrack()">Mute Track-Video</button>
  <button class="btn btn-default btn-sm" onclick="unmuteVideoTrack()">Unmute Track-Video</button>
  <button class="btn btn-default btn-sm" onclick="stopAudioTrack()">Stop Track-Audio</button>
  <button class="btn btn-default btn-sm" onclick="muteAudioTrack()">Mute Track-Audio</button>
  <button class="btn btn-default btn-sm" onclick="unmuteAudioTrack()">Unmute Track-Audio</button>
</div>
<hr>

<div id="output"></div>

<video id="stream" autoplay="autoplay"></video>
