.navbar-white {
  background: #fff;
}
#get_user_media_btn,
#join_room_btn,
#leave_room_btn,
#presence_panel,
#file_panel,
#file_list_panel {
  display: none;
}
.circle {
  color: red;
  border: solid 1px;
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 7px;
  font-size: 10px;
}
.table {
  font-size: 12px;
  word-break: break-word;
}
.table td:first-child {
  font-weight: bold;
  width: 38%;
}
.table.upload-table td:first-child {
  font-weight: normal;
  width: 85%;
}
#credential_panel {
  margin-bottom: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  border-radius: 0;
}
#credential_panel .panel-body {
  padding-bottom: 0;
}
#credential_panel .panel-body .form-group {
  text-align: left;
}
#credential_panel .panel-body .form-group .title,
#credential_panel .panel-body .form-group .control-group {
  display: inline-block;
  vertical-align: top;
}
#credential_panel .panel-body .form-group .title {
  margin-top: 0;
  float: left;
}
#credential_panel .panel-body .form-group .title span {
  display: block;
  margin-bottom: 5px;
}
#credential_panel .panel-body .form-group .control-group {
}
video,
object {
  background: #444;
  border: solid 2px #fff;
  padding: 0 !important;
}
video#local_video,
object#local_video {
  right: 15px;
  position: absolute;
  z-index: 9999;
}
#file_body {
  max-height: 200px;
  overflow-y: auto;
}
#chat_panel {
  margin: 15px 0 45px;
}
#chat_body {
  max-height: 200px;
  overflow-y: auto;
}
.list-group-item-heading em {
  float: right;
  font-style: normal;
  color: #888;
}
.chat-item {
  border: 0;
  padding: 0 0 15px 0;
}
.chat-item img {
  width: 250px;
}
#chat_input {
  display: block;
  width: 100%;
}
.control_settings .col {
  margin: 7px 0;
}
#leave_room_btn {
  margin-left: 12px;
}
.control_settings .btn-group {
  width: 100%;
}
footer {
  background: #f5f5f5;
  padding: 12px 0 0;
  border-top: solid 1px #e0e0e0;
}
.selected-users em {
  font-style: normal;
  font-size: 12px;
  margin-right: 12px;
}
.peervideo {
  padding: 0;
  position: relative;
}

.peervideo video,
.peervideo object {
  width: 100%;
  height: auto;
  min-height: 450px;
  background: #000;
}

.peervideo .connstats-wrapper {
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 2px;
  margin: 0;
  text-align: right;
  display: none;
}

.peervideo .connstats-wrapper button {
  background: rgba(44, 44, 44, 0.75);
  border: solid 1px #fff;
  color: #fff;
  outline: 0 !important;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 0;
  border-right: 0;
}

.peervideo .connstats {
  background: rgba(88, 88, 88, 0.75);
  color: #fff;
  padding: 12px 17px 20px;
  font-size: 11px;
  display: none;
  margin: 0;
  text-align: left;
}

.peervideo .connstats div:nth-child(2) {
  margin-bottom: 15px;
}

.peervideo .connstats div:last-child {
  margin-bottom: 0;
}

.peervideo .connstats div b {
  display: block;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 5px;
}

.peervideo .connstats div p {
  margin: 0;
}

.peervideo .connstats .agent {
  text-transform: capitalize;
}

.panel .panel-heading small {
  display: block;
  color: #888;
  font-size: 10px;
}

@media screen and (max-width: 1999px) {
  #credential_panel .panel-body {
    margin-bottom: 15px;
  }
  #credential_panel .panel-body button {
    margin-left: 14px;
  }
}
@media screen and (max-width: 991px) {
  video,
  object {
    display: block;
    width: 100%;
  }
  video#local_video,
  object#local_video {
    right: 0;
    position: static;
    display: block;
  }
}

/* NEW */
body {
  font-family: "Roboto", sans-serif;
}
.navigation {
  background: #eceff1;
  margin-bottom: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.navigation small {
  float: right;
}
.navigation .logo {
  float: left;
}
.navigation .doc {
  float: right;
  margin-top: 11px;
  background: #364352;
  border: none;
  font-size: 15px;
}
.demo-btn {
  color: #364352;
  background-color: transparent;
  border-radius: 6px;
  border-color: #364352;
  transition: all 0.5s;
}
.demo-btn:hover {
  color: #fff;
  background-color: #364352;
  border-color: #364352;
}
.api-btn {
  float: right;
  margin-top: 11px;
  margin-left: 20px;
}
#chat_input {
  border: 1px solid #ccc;
  background: #fbfbfb;
  outline: none;
  resize: none;
}
.banner .panel-default {
  border: none;
  box-shadow: none;
}
.banner h4 {
  color: #00aaa4;
}
.tile .panel-body {
  color: #52504d;
}
.tile .panel-heading {
  background: none;
  border: none;
}
.tile h4 {
  border-left: 2px solid #333333;
  padding-left: 10px;
}
.footer {
  background: #364352;
  margin-top: 100px;
}
.footer p {
  margin: 0;
  padding: 25px 0;
  color: #fff;
  font-size: 14px;
}
h2 {
  font-size: 18px;
  font-weight: 400;
}
.action-btn {
  background: transparent;
  border: 1px solid #d2d2d2;
  font-size: 15px;
  font-weight: 400;
  transition: all 0.3s;
  padding: 7px 28px;
  color: #364352;
  padding: 5px 15px !important;
}
.action-btn:hover {
  background: #364352;
  color: white;
}
b {
  font-weight: 400;
  font-size: 12.75px;
}
i {
  vertical-align: middle;
}
.action-btn i {
  font-size: 21px;
}
#leave_room_btn {
  margin-left: 0;
}
.settings {
  margin-bottom: 0;
}
.settings p:first-child {
  font-weight: 400;
}
.controls {
  position: relative;
}
.controls::after {
  content: " ";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #b2c5c5;
  left: 0;
  bottom: -13px;
  border-radius: 24px;
}
h2 + .settings {
  margin-top: 40px;
}
.panel-chat {
  border: 1px solid #ccc;
}
.list-group-item-heading b {
  color: #418bca;
}
.list-group-item-text {
  color: #7b7b7b;
}
#chat_panel {
  margin: 0;
}
#chat_body {
  max-height: 190px;
  overflow-y: auto;
  height: 192px;
}
.list-group-item-heading em {
  float: right;
  font-style: normal;
  color: #85898e;
  font-weight: normal;
  font-size: 12px;
}
#connection {
  background: transparent !important;
}
.panel-heading {
  color: #364352 !important;
  background-color: #fafafa !important;
  padding: 15px 20px !important;
  font-size: 14px;
  font-weight: 400;
}
.table td:first-child {
  width: 38%;
  font-size: 14px;
  font-weight: 400;
}
.table td:last-child {
  font-size: 14px;
}
#display_user_info {
  border-radius: 3px !important;
  border: 1px solid #ccc;
  padding: 20px 7px;
  background: #fbfbfb;
}
.user-name {
  width: 98%;
}
#peer_video_list {
  margin-bottom: 35px;
}
.reset {
  background: #2eb4af;
  border: none;
  transition: all 0.3s;
}
.reset:hover {
  background: #27a09c;
}
.mt-27 {
  margin-top: 27px;
}
#update_user_info_btn,
#restart_btn,
#message_btn {
  margin-right: 10px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}
.active-btn {
  background: #364352;
  color: white;
}
.action-btn.active-btn {
  color: #fff;
  background-color: #364352;
  border-color: #364352;
}
.intro {
  display: inline-block;
  line-height: 1.9;
  color: #364352;
  font-size: 15px;
  position: relative;
  padding-left: 9px;
}
.intro::before {
  content: " ";
  position: absolute;
  height: 25px;
  width: 2px;
  background: #09aba5;
  left: 0px;
  top: 2px;
}
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*="col-"] {
  flex-grow: 1;
  display: flex;
}
.row.display-flex .panel-default {
  flex-grow: 1;
}
.peervideo video,
.peervideo object {
  width: 100%;
  height: 373px;
  min-height: 373px;
  background: #000;
}
.control-panel {
  background: linear-gradient(to right, #e0e9eca1, rgb(253, 253, 253));
}
.btns .action-btn i {
  font-size: 18px;
}
#peer_video_list {
  display: flex;
}
.col-md-4.peervideo {
  flex: 1;
}
