.main {
  margin: 20px;
}

.myblock {
  margin: 20px;
}

.conversation-wrap {
    box-shadow: -2px 0 3px #ddd;
    padding:0;
    /* max-height: 400px; */
    overflow: auto;
    background: #f9f7f7;
}

small {
    color: #7fb6ff;
}

.conversation {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.message-wrap {
    box-shadow: 0 0 3px #ddd;
    padding: 0;
}

.msg {
    padding:5px;
    margin:0;
}

.msg-wrap {
    padding:10px;
    height: 60%;
    overflow: auto;
    background: #f9f7f7;
}

.time {
    color:#bfbfbf;
}

.send-wrap {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding:10px;
    background: #f9f7f7;
}

.send-message {
    resize: none;
}

.highlight {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.send-message-btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.msg-wrap .media-heading {
    color:#003bb3;
    font-weight: 700;
}

.msg-date {
    background: none;
    text-align: center;
    color:#aaa;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
}

.text-area {
    background:#fff8ec !important;
}

body::-webkit-scrollbar {
    width: 12px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:#ddd;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #ddd;
}