<h1>Socket Demo</h1>
<p>Classes: <code>Globals</code> and <code>Socket</code>
</p>

<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>Example 1:</h4>
      <p>Failure case where Fallback from WebSocket to XHRPolling.</p>
      <pre>
          var socket = new Socket({
            server: 'signaling.channel.com',
            httpPortList: [1, 2, 3],
            httpsPortList: [1, 2]
          }, function (event, data){ });
          
          socket.connect();
        </pre>

      <div class="input-group">
        <span class="input-group-addon">Server</span>
        <input id="server" type="text" class="form-control" value="signaling.channel.com" disabled>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Http ports</span>
        <input id="http" type="text" class="form-control" value="81,82,83" disabled>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Http ports</span>
        <input id="https" type="text" class="form-control" value="1443,2443" disabled>
      </div>

      <button onclick="failConnect()">Start</button>



      <h4>Example 2:</h4>
      <p>Success case of connection after a failed attempt</p>
      <pre>
          var socket = new Socket({
            server: 'signaling.channel.com',
            httpPortList: [1, 2, 3],
            httpsPortList: [1, 2]
          }, function (event, data){ });
          
          socket.connect();
        </pre>

      <div class="input-group">
        <span class="input-group-addon">Connection type</span>
        <select id="type" class="form-control">
          <option value="WebSocket" selected>WebSocket</option>
          <option value="XHRPolling">XHRPolling</option>
        </select>
      </div>
      <button onclick="successConnect()">Start</button>

    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="btn-group">
    <button class="btn btn-default btn-sm" onclick="disconnect()">Disconnect</button>
    <button class="btn btn-default btn-sm" onclick="clearL()">Clear Logs</button>
  </div>

  <div id="output" class="panel"></div>
</div>