.navbar, .navbar-default {
    background: #00b6b1;
    background-color: #00b6b1;
}

.navbar-brand {
    color: white !important;
}

/*
#join_room_panel
*/
#in_room_panel,
#get_user_media_btn,
#presence_panel,
#secret_id_panel,
#file_panel,
#file_list_panel {
    display: none;
}

.panel-chat {
    border: 5px solid black;
}

input[type="text"] {
    border: 1px solid;
    border-radius: 5px !important;
    background: #f0f7ff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.icon-circle {
    color: red;
    border: solid 1px;
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 7px;
    font-size: 10px;
}

.table {
    font-size:  12px;
    word-break: break-word;
}

.table td:first-child {
    font-weight: bold;
    width: 38%;
}

.table.upload-table td:first-child {
    font-weight: normal;
    width: 85%;
}

video {
    padding: 0 !important;
}

.selected-users em {
    font-style: normal;
    font-size: 12px;
    margin-right: 12px;
}

#messaging_panel {
    margin: 15px 0 45px;
}

#chat_body {
    max-height: 200px;
    overflow-y: auto;
}

.chat-item {
    border: 0;
    padding: 0 0 15px 0;
}

.list-group-item-heading b {
    color: blue;
}

.list-group-item-text {
    color: green;
}

.list-group-item-heading em {
    float: right;
    font-style :normal;
    color: #888;
}

#chat_input {
    display: block;
    width: 100%;
  }

#secret_id_panel .panel-body .table input{
    margin: 0 10px 0 0;
}

.control_settings .col {
    margin: 7px 0;
}

.control_settings .btn-group {
    width: 100%;
}

.peervideo {
    padding: 0;
    position: relative;
}

.peervideo video,
.peervideo object {
    width: 100%;
    height: auto;
    min-height: 450px;
    max-height: 450px;
    background: #000;
}

.peervideo .connstats-wrapper {
    position: absolute;
    bottom: 7px;
    left: 0;
    right: 5px;
    margin: 0;
    text-align: right;
    display: none;
    z-index: 10;
}

.peervideo .connstats-wrapper button {
    background: rgba(44, 44, 44, .75);
    border: solid 1px #fff;
    color: #fff;
    outline: 0!important;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 0;
    border-right: 0;
}

.peervideo .connstats {
    background: rgba(88, 88, 88, .75);
    color: #fff;
    padding: 12px 17px 20px;
    font-size: 11px;
    display: none;
    margin: 0 0 0 5px;
    text-align: left;
}

.peervideo .connstats div:nth-child(2){
    margin-bottom: 15px;
}

.peervideo .connstats div:last-child {
    margin-bottom: 0;
}

.peervideo .connstats div b {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 5px;
}

.peervideo .connstats div p {
    margin: 0;
}

.peervideo .connstats .agent {
    text-transform: capitalize;
}

#sample_video_panel video {
    width: 100%;
}

/** Helpers **/
.margin-right-5 {
    margin-right: 5px;
}


@media screen and (max-width:1999px){
    #credential_panel .panel-body {
      margin-bottom: 15px;
    }

    #credential_panel .panel-body button {
      margin-left: 14px;
    }
}

@media screen and (max-width:991px){
    video, object {
        display: block;
        width: 100%;
    }
}
