.table-header  {
  background: #ffcf06;
  padding: 20px;
  font-family: Helvetica, Arial, sans-serif;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid #0a0a0a;
}

.component-width {
  width: 25rem;
}

.select-size {
  width: 4rem;
}

.text-area {
  height: 5rem;
}

header a:first-child {
  float: right;
  margin: 0 0 20px 30px;
}

#container {
  position: relative;
  border: 1px #ddd solid;
  height: 300px;
  overflow-y: auto;
  border: 1px solid #0a0a0a;
}

#chatbox {
  position: absolute;
  bottom: 0px;
}

.action {
  font-style: italic;
  color: gray;
}

.message, .you, .action {
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
  padding-left: 1rem;
}

.you {
  font-weight: bold;
  margin-bottom: 0.2rem;
  font-weight: bold;
  margin-bottom: 0.4rem;

}