body {
  font-family: 'Source Sans Pro', sans-serif, helvetica;
}
pre, code {
  font-family: 'Source Code Pro', consolas, helvetica, sans-serif;
}
/* Bootstrap override */
h1, h2, h3 {
  font-weight: 300;
}
h1 span,
h2 span,
h3 span {
  font-size: 28px;
  color: #888;
}
h1 small,
h2 small,
h3 small {
  display: block;
  font-size: 14px;
  margin-top: 10px;
}
.badge {
  margin-top: -5px;
  margin-left: 5px;
  font-weight: normal;
}
h3 code {
  background: transparent;
  padding: 0;
}
.navbar-brand {
  color: #00aaa4!important;
  font-weight: bold;
}
.navbar-brand small {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  margin-left: 15px;
  color: #fff!important;
}
.navbar-brand img {
  width: 90px;
  margin-top: -5px;
}
.jumbotron {
  margin-top: 30px;
}
.jumbotron hr {
  border-top-color: #888;
}
.list-group {
  border-radius: 0!important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.list-group .list-group-item {
  border: 0;
  border-radius: 0!important;
  margin-bottom: 10px;
  padding: 1px 7px;
}
.list-group .list-group-item span.settings {
  display: block;
  margin-top: 5px;
}
.nav-pills > li {
  cursor: pointer;
}
.nav-pills > li.active a {
}
.section-doc-group .col-md-3 {
  padding-left: 0;
}
.section-doc-group .col-md-9 {
  padding-right: 0;
  padding-left: 55px;
}
.list-group .list-group-item.active {
  color: #428bca;
  text-shadow: none;
  background: transparent;
  border-left: solid 4px #428bca;
}
.list-group h4 {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.code-item-name {
  margin-top: 0;
}
.prettyprint {
  border: double 2px #ccc!important; /* override */
  margin-top: 15px;
  border-radius: 0;
  border-left: 0!important;
  border-right: 0!important;
}
/* documentation styling */
.private-method-item,
.private-event-item,
.private-property-item,
.private-attr-item {
  display: none;
}
.list-group-o-wrapper {
  background: #fff;
}
.list-group-o-wrapper span.title {
  font-size: 22px;
  font-weight: 300;
  margin: 15px;
  display: none;
}
.list-group-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
}
.list-group-o-wrapper.fixed-top {
  position: fixed;
  top: 65px;
}
.list-group-o-wrapper.fixed-top .list-group-wrapper {
  min-height: 500px;
  height: 500px;
}
.list-group-o-wrapper.fixed-top .title {
  display: block;
}
.property-item,
.event-item,
.attr-item {
  display: none;
}
.label-global,
.label-development {
  display: none;
}
/* to always show the constructor */
.constructor-item .method-item {
  display: block!important;
}
.code-item {
  min-height: 0;
}
.code-item h4 {
  font-size: 15px;
  text-transform: uppercase;
}
.code-item-trigger a {
  font-weight: normal;
  margin-right: 15px;
}
.code-item-properties {
  margin: 15px 0;
  padding: 5px 0;
  border: solid 1px #eee;
  border-left: 0;
  border-right: 0;
}
.code-item-properties .label {
  font-weight: normal;
  text-transform: uppercase;
}
.code-item-properties small {
  display: block;
  margin: 5px 0;
}
.code-item-properties .badge {
  background: #aaa;
}
.code-item-properties .properties-wrapper {
  margin-bottom: 15px;
}
.code-item-information {
  margin: 15px 0;
  padding: 2px 7px;
  border-left: solid 4px #f0f0f8;
}
.code-item-information span {
  display: block;
  margin: 5px 0;
}
.code-item-section {
  margin: 35px 0 45px;
}
.code-item-type i {
  font-style: normal;
  text-transform: uppercase;
  margin-right: 15px;
}
.params-list .param {
  margin-bottom: 7px;
}
.params-list .param .type {
  margin-left: 10px;
  color: #888;
  font-size: 12px;
}
.params-list .param .label {
  font-size: 10px;
  /*font-weight: normal;*/
  text-transform: uppercase;
  margin-left: 5px;
  opacity: 0.85;
  background: #eee;
  color: #888;
}
.params-list .param .label.multiple {
  background: #f0ad4e;
  color: #fff;
}
.param .param-description small {
  margin: 5px 0;
  color: #888;
  display: block;
}
.param .param-description small.default {
  border-left: solid 2px #ccc;
  padding-left: 15px;
}
.param .param-description small.default span {
  margin-right: 8px;
  font-weight: 600;
}
.returns-description span,
.returns-description p {
  display: inline-block;
}
.returns-description .type {
  margin-right: 15px;
}
#doc-type-select {
  margin-bottom: 35px;
}
@media (max-width: 991px) {
  .section-doc-group .col-md-3 {
    display: none;
  }
  .section-doc-group .col-md-9 {
    padding-left: 0;
  }
}