body {
  font-family: 'Source Sans Pro', sans-serif, helvetica;
}
pre, code {
  font-family: 'Source Code Pro', consolas, helvetica, sans-serif;
}
/* Bootstrap override */
h1, h2, h3 {
  font-weight: 300;
}
h1 span,
h2 span,
h3 span {
  font-size: 28px;
  color: #888;
}
h1 small,
h2 small,
h3 small {
  display: block;
  font-size: 14px;
  margin-top: 10px;
}
.badge {
  margin-top: -5px;
  margin-left: 5px;
  font-weight: normal;
}
h3 code {
  background: transparent;
  padding: 0;
}
.navbar-brand {
  color: #00aaa4!important;
  font-weight: bold;
}
.navbar-brand small {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  margin-left: 15px;
  color: #fff!important;
}
.navbar-brand img {
  width: 90px;
  margin-top: -5px;
}
.jumbotron {
  margin-top: 30px;
}
.jumbotron hr {
  border-top-color: #888;
}
.list-group {
  border-radius: 0!important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.list-group .list-group-item {
  border: 0;
  border-radius: 0!important;
  margin-bottom: 5px;
  padding: 1px 7px;
}
.module-menu-item {
  display: block!important;
  font-size: 16px;
  cursor: pointer;
  border-width: 4px!important;
}
.list-group .list-group-item span.settings {
  /*display: block;
  margin-top: 5px;*/
}
.nav-pills > li {
  cursor: pointer;
}
.nav-pills > li.active a {
}
.section-doc-group .col-md-3 {
  padding-left: 0;
}
.section-doc-group .col-md-9 {
  padding-right: 0;
  padding-left: 55px;
}
.section-doc-group .col-md-9.constructor {
  display: block;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
.list-group .list-group-item.active {
  color: #428bca;
  text-shadow: none;
  background: transparent;
  border-left: solid 2px #428bca;
}
.list-group h4 {
  margin: 0;
}
.content-main {
  padding-top: 20px;
}
.no-padding {
  padding: 0;
}
.code-item-name {
  margin-top: 0;
}
.prettyprint {
  border: double 2px #ccc!important; /* override */
  margin-top: 15px;
  border-radius: 0;
  border-left: 0!important;
  border-right: 0!important;
}
/* documentation styling */
.private-method-item,
.private-event-item,
.private-property-item,
.private-attr-item {
  display: none;
}
/*.component-menu-item {
  font-size: 14px;
  text-transform: uppercase;
}*/
.list-group-o-wrapper {
  background: #fff;
}
.list-group-o-wrapper span.title {
  font-size: 30px;
  font-weight: 300;
  margin: 15px 0px;
  display: none;
}
.list-group-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
}
.list-group-o-wrapper.fixed-top {
  position: fixed;
  top: 65px;
}
.list-group-o-wrapper.fixed-top .list-group-wrapper {
  min-height: 500px;
  height: 500px;
}
.list-group-o-wrapper.fixed-top .title {
  display: block;
  /*margin-top: 120px; /* temp revert */
  margin-top: 75px;
}
.property-item,
.event-item,
.attr-item {
  display: none;
}
/* to always show the constructor */
.constructor {
  display: none;
}
.constructor-item .method-item {
  display: block!important;
}
.code-item {
  min-height: 0;
}
.code-item h4 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}
.code-item-properties {
  margin: 15px 0;
  padding: 5px 0;
  border: solid 1px #eee;
  border-left: 0;
  border-right: 0;
}
.code-item-properties .label {
  font-weight: normal;
  text-transform: uppercase;
}
.code-item-properties small {
  display: block;
  margin: 5px 0;
}
.code-item-properties .badge {
  background: #aaa;
}
.code-item-properties .properties-wrapper {
  margin-bottom: 15px;
}
.code-item-information {
  margin: 15px 0;
  padding: 2px 7px;
  border-left: solid 4px #f0f0f8;
}
.code-item-information span {
  display: block;
  margin: 5px 0;
}
.code-item-section {
  margin: 35px 0 45px;
}
.code-item-type i {
  font-style: normal;
  text-transform: uppercase;
  margin-right: 15px;
}
.params-list .param {
  margin-bottom: 7px;
}
.params-list .param .type {
  margin-left: 10px;
  color: #888;
  font-size: 12px;
}
.returns-description .label,
.params-list .param .label {
  font-size: 10px;
  /*font-weight: normal;*/
  text-transform: uppercase;
  margin-left: 5px;
  opacity: 0.85;
  background: #eee;
  color: #888;
}
.params-list .param .label.multiple {
  background: #f0ad4e;
  color: #fff;
}
.desc-seq-header {
  color: #575757;
  font-weight: 600;
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}
.desc-seq ol {
  list-style-type: lower-alpha;
  padding-left: 10px;
}
.desc-seq ul {
  list-style-type: disc;
  color: #828282;
  font-size: 13px;
  padding-left: 25px;
}
.desc-seq ul li,
.desc-seq ol li {
  margin: 5px 0;
}
.code-item-description small,
.desc-seq small,
.returns-description small,
.param .param-description small {
  margin: 5px 0;
  color: #888;
  display: block;
}
.returns-description var {
  font-style: normal;
  margin: 0 5px 0 10px;
  color: #888;
  font-size: 12px;
}
.param .param-name {
  background: none;
  font-weight: bold;
}
.param .param-description code {
  background: #f9f7f3;
  color: #8a6d3b;
  font-weight: bold;
}
.param .param-description small code {
  color: #c7254e;
  background-color: #f9f2f4;
  font-weight: normal;
}
.param .param-description small.default {
  border-left: solid 3px #eee;
  display: inline-block;
  margin: 5px 0;
  padding: 5px 7px;
}
.param .param-description small.default span {
  margin-right: 8px;
  font-weight: 600;
  color: #a8a8a8;
}
.param .param-description small.default code {
  background: none;
  color: #868686;
  font-weight: 600;
  padding: 0 5px 0 0;
  font-size: 12px;
}
.param .param-description ul {
  padding-left: 0;
  margin-bottom: 15px;
  list-style-type: none;
  list-style-position: inside;
}
.param .param-description ul li:before {
  content: "\21D2 \0020";
  color: #aaa;
  font-size: 16px;
  padding-top:5px;
}
.param .param-description ul li {
  color: #888;
  font-size: 14px;
  padding-top:0;
}
.returns-description span,
.returns-description p {
  display: inline-block;
}
.returns-description .type {
  margin-right: 15px;
  vertical-align: top;
  color: #888;
}
.returns-description ul li p,
.returns-description ol li p {
  margin-top: 5px;
  display: block;
}
#doc-type-select {
  margin-bottom: 35px;
  max-height: 70px;
  display: none;
}
.scroll-top {
  margin: 10px 0;
  padding: 5px 7px;
  text-transform: uppercase;
  cursor: pointer;
}
.scroll-top:hover {
  background: #eee;
}
.scroll-fix-navbar {
  background: #fff;
  padding: 15px;
  top: 51px;
}
#doc-type-select.scroll-fix-navbar {
  top: 115px;
}
.btn-navbar {
  padding: 5px 7px!important;
  margin: 10px 0 8px;
  margin-left: 15px;
  color: #fff!important;
  background: none;
  border-color: #fff;
}
.btn-navbar:hover {
  background: #fff;
  color: #000;
}
blockquote {
  padding: 0!important;
  border: 0!important;
  margin: 28px;
  font-size: 1em;
}

blockquote em {
  margin: 10px 0 5px;
  display: block;
  font-size: .9em;
  margin-left: -18px;
  font-style: normal;
  opacity: .85;
}

blockquote h6 {
  font-weight: 600;
  margin-left: -28px;
}

blockquote ol {
  padding: 0;
  list-style-position: inside;
  font-size: .9em;
}

blockquote ol li {
  margin: 5px 0;
}

blockquote ol li span {
  padding: 1px 5px;
  border: solid 1px #888;
  border-radius: 5px;
  font-size: .8em;
  margin-left: 17px;
  margin-top: 5px;
  display: inline-block;
}

blockquote ol li span:first-child {
  margin-left: 5px;
  margin-top: 0;
}

blockquote ol li small {
  margin: 3px 0;
  margin-left: 23px;
  font-size: .9em;
}

blockquote ol li section {
  display: block;
  margin: 10px 0 10px;
  margin-left: 25px;
  font-size: .9em;
  font-style: normal;
  color: #888;
}

blockquote ol li section ul {
  padding: 0;
}

blockquote:before,
blockquote:after,
blockquote small:before,
blockquote small:after {
  content: ""!important;
}

blockquote.info {
  background: #d9edf7;
  color: #31708f;
  border-left: solid 3px #31708f!important;
  padding: 7px 12px!important;
  margin: 16px 0;
}

.params-list blockquote.info {
  font-size: 13px;
}

blockquote.details {
  padding: 5px 12px!important;
  margin: 15px 0;
  border-left: solid 3px #f8f8f8!important;
}

blockquote.details h5 {
  margin-top: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  color: #888;
}

blockquote.details ol li {
  margin: 5px 0 12px;
}

@media (max-width: 991px) {
  .section-doc-group .col-md-3 {
    display: none;
  }
  .section-doc-group .col-md-9 {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .btn-navbar {
    margin: 10px 15px 8px;
  }
}

@media (max-width: 700px) {
  .nav-links {
    float: none!important;
    margin-top: 65px;
  }
}
