#room_locked_row {
    display: none;
    margin: auto;
}

.start_call_panel {
    max-width: 500px;
    min-width: 300px;
    padding: 10px;
}

.btn-panel {
    padding: inherit;
}

.select-user {
    margin-right: 5px !important;
}
