body {
    background: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* TITLES */

h3 {
    font-size: 1rem;
}

/* TABLES */
.table {
    border: 1px solid;
    width: 100%;
}

th {
    border: 1px solid;
}

/* STANDARD ELEMENTS */
.btn {
    background: #a5005f;
    color: white;
}

.component {
    height: 2rem;
    border: 2px solid black;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1rem;
}

.container {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* HELPERS */
.text-center {
    text-align: center;
}

.bordered-container {
    border: 1px solid #7b807f;
    outline: 2px dashed #c4c5c4;
    outline-offset: -20px;
    box-shadow: 5px 2px 4px 3px #e8e8e8;
    min-height: 88vh;
}

.stripes-background {
    background-image: url('../img/stripes.png');
}
