body {
    background: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn {
    background: #a5005f;
    color: white;
}
.component {
    height: 2rem;
    border: 2px solid black;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1rem;
}

h3 {
    font-size: 1rem;
}

.container {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.peers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
}

.avatar {
    background: white;
    border: 1px dotted;
    text-align: center;
    height: 200px;
    margin: 20px 20px 5px 20px;
    height: 220px;
    width: 220px;
}

.local-avatar {
    background: #fff6ed;
    border: 1px dotted;
    border-radius: 30px;
}

.remote-avatar {
    background: white;
    border: 1px dotted;
}

.peer {
    flex: 1;
}

.peer-video {
    height: 170px;
    width: 200px;
    position: relative;
    left: 0%;
    top: 7%;
}

.text-center {
    text-align: center;
}

.bordered-container {
    border: 1px solid #7b807f;
    outline: 2px dashed #c4c5c4;
    outline-offset: -20px;
    box-shadow: 5px 2px 4px 3px #e8e8e8;
    min-height: 88vh;
}

.stripes-background {
    background-image: url('../img/stripes.png');
}

.peer-name {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    min-width: 100px;
    text-overflow: ellipsis;
}

.credit {
    width: 100%;
    text-align: center;
}