.room {
    background: #00b6b1;
    padding: 20px;
    border: 1px solid #0a0a0a;
    min-height: 200px;
}

.room-border-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.room-boder-bottom {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.room div {
    display: inline-block;
    vertical-align: top;
    background: #000;
    margin:0 5px 5px;
}

.room video, .room object {
    width: auto;
    height: 150px;
    background: #000;
}

.room div span {
    display: block;
    background: #fafafa;
    padding: 5px 7px;
    font-weight: bold;
    font-size: 12px;
}

.room div.you span {
    background: #656565;
    color: #fff;
}