<div class="jumbotron no-padding">
  <div class="container">
    <h1>
      SkylinkJS <span>API Documentation</span>
      <small><i class="fa fa-info-circle">&nbsp;&nbsp;&nbsp;</i>Version: {{projectVersion}}</small>
    </h1>
    <br>
  </div>
</div>
<div class="container">
  <h3>Select a class/module to view API documentation</h3>
  <p>
  	<ul>
  		<li><a href="classes/Skylink.html"><code>Skylink</code> class</a></li>
  		<li><a href="classes/Skylink.html#properties"><code>SkylinkLog</code> module</a></li>
  	</ul>
  </p>
</div>