<div class="jumbotron no-padding">
  <div class="container">
    <h1>
      SkylinkJS <span>API Documentation</span>
      <small><i class="fa fa-info-circle">&nbsp;&nbsp;&nbsp;</i>Version: {{projectVersion}}</small>
    </h1>
    <br>
  </div>
</div>
<div class="container">
  <h3>Select a class/module to view API documentation</h3>
  <p>It's on the top-right hand corner</p>
</div>