.navbar, .navbar-default {
    background: #00b6b1;
    background-color: #00b6b1;
}

.navbar-brand {
    color: white !important;
}

.btn-rounded {
    border-radius: 20px !important;
}

.nav-btn-rounded {
    margin: 0 3px 0px 0;
}

.panel-chat {
    border: 5px solid black;
}

.text-center {
    text-align: center;
}

input[type="text"] {
    border: 1px solid;
    border-radius: 8px !important;
    background: #f0f7ff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#in_room_panel,
#get_user_media_btn,
#presence_panel,
#secret_id_panel,
#file_panel,
#file_list_panel {
    display: none;
}

.circle {
    color: red;
    border: solid 1px;
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 7px;
    font-size: 10px;
}

.table {
    font-size:  12px;
    word-break: break-word;
}

.table td:first-child {
    font-weight: bold;
    width: 38%;
}

.table.upload-table td:first-child {
    font-weight: normal;
    width: 85%;
}

#credential_panel {
    margin-bottom: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none;
    border-radius: 0;
}

#credential_panel .panel-body {
    padding-bottom: 0;
}

#credential_panel .panel-body .form-group {
    text-align: left;
}

#credential_panel .panel-body .form-group .title,
#credential_panel .panel-body .form-group .control-group {
    display: inline-block;
    vertical-align: top;
}

#credential_panel .panel-body .form-group .title {
    margin-top: 0;
    float: left;
}

#credential_panel .panel-body .form-group .title span {
    display: block;
    margin-bottom: 5px;
}

video, object {
    /*background: #444;*/
    /*border: solid 2px #fff;*/
    padding: 0!important;
}

video#local_video, object#local_video {
    right: 15px;
    position: absolute;
    z-index: 9999;
}

#file_body {
    max-height: 200px;
    overflow-y: auto;
}

#chat_panel {
    margin: 15px 0 45px;
}

#chat_body {
    max-height: 200px;
    overflow-y: auto;
}

.list-group-item-heading b {
    color: blue;
}

.list-group-item-text {
    color: green;
}

.list-group-item-heading em {
    float: right;
    font-style :normal;
    color: #888;
}

.chat-item {
    border: 0;
    padding: 0 0 15px 0;
}

.chat-item img {
    width: 250px;
}

#secret_id_panel .panel-body .table input{
    margin: 0 10px 0 0;
}

#chat_input {
    display: block;
    width: 100%;
  }

.control_settings .col {
    margin: 7px 0;
}

.control_settings .btn-group {
    width: 100%;
}

footer {
    background: #f5f5f5;
    padding: 12px 0 0;
    border-top:solid 1px #e0e0e0;
}

.selected-users em {
    font-style: normal;
    font-size: 12px;
    margin-right: 12px;
}

@media screen and (max-width:1999px){
    #credential_panel .panel-body {
      margin-bottom: 15px;
    }

    #credential_panel .panel-body button {
      margin-left: 14px;
    }
}

@media screen and (max-width:991px){
    video, object {
        display: block;
        width: 100%;
    }

    video#local_video, object#local_video {
        right: 0;
        position: static;
        display: block
    }
}
