<style>
  video: {
    width: 100%;
  }
</style>

<blockquote>
  <small>Viagenie, Inc TURN / STUN servers is used for testing purposes</small>
</blockquote>

</p>
<div class="input-group">
  <video id="peer1" autoplay="autoplay"></video>
  <video id="peer2" autoplay="autoplay"></video>
  <video id="test" autoplay="autoplay"></video>
</div>

<hr>
<div class="btn-group">
  <button class="btn btn-default btn-sm" onclick="start()">Start Connection</button>
  <!--<button class="btn btn-default btn-sm" onclick="stopStream()">Stop Stream</button>
  <button class="btn btn-default btn-sm" onclick="stopVideoTrack()">Stop Track-Video</button>
  <button class="btn btn-default btn-sm" onclick="muteVideoTrack()">Mute Track-Video</button>
  <button class="btn btn-default btn-sm" onclick="unmuteVideoTrack()">Unmute Track-Video</button>
  <button class="btn btn-default btn-sm" onclick="stopAudioTrack()">Stop Track-Audio</button>
  <button class="btn btn-default btn-sm" onclick="muteAudioTrack()">Mute Track-Audio</button>
  <button class="btn btn-default btn-sm" onclick="unmuteAudioTrack()">Unmute Track-Audio</button>-->
</div>
<hr>

<div id="output"></div>

<video id="stream" autoplay="autoplay"></video>