.navbar-white {
  background:#fff;
}
#get_user_media_btn,
#leave_room_btn,
#presence_panel,
#file_panel,
#file_list_panel {
  display:none;
}
.circle {
  color:red;
  border:solid 1px;
  border-radius:50%;
  padding:5px;
  margin-bottom:7px;
  font-size:10px;
}
.table {
  font-size:12px;
  word-break:break-word;
}
.table thead {
  font-weight:bold;
}
.table td:first-child {
  font-weight:bold;
  width:38%;
}
.table.upload-table td:first-child {
  font-weight:normal;
  width:85%;
}
#credential_panel {
  margin-bottom:0;
  border-left:0;
  border-right:0;
  box-shadow:none;
  border-radius:0;
}
#credential_panel .panel-body {
  padding-bottom:0;
}
#credential_panel .panel-body .form-group {
  text-align:left;
}
#credential_panel .panel-body .form-group .title,
#credential_panel .panel-body .form-group .control-group {
  display:inline-block;
  vertical-align:top;
}
#credential_panel .panel-body .form-group .title {
  margin-top:0;
  float:left;
}
#credential_panel .panel-body .form-group .title span {
  display:block;
  margin-bottom:5px;
}
#credential_panel .panel-body .form-group .control-group {
}
video, object {
  padding:0!important;
}
video#local_video,
object#local_video {
  right:15px;
  position:absolute;
  z-index:9999;
}
#file_body {
  max-height:200px;
  overflow-y:auto;
}
#chat_panel {
  margin:15px 0 45px;
}
#chat_body {
  max-height:200px;
  overflow-y:auto;
}
.list-group-item-heading em {
  float:right;
  font-style:normal;
  color:#888;
}
.chat-item {
  border:0;
  padding:0 0 15px 0;
}
.chat-item img {
  width: 250px;
}
#chat_input {
  display:block;
  width:100%;
}
.control_settings .col {
  margin: 7px 0;
}
#leave_room_btn {
  margin-left:12px;
}
.control_settings .btn-group {
  width: 100%;
}
footer {
  background:#f5f5f5;
  padding:12px 0 0;
  border-top:solid 1px #e0e0e0;
}
.selected-users em {
  font-style: normal;
  font-size: 12px;
  margin-right: 12px;
}
.peervideo {
  padding: 0;
  position: relative;
}

.peervideo video,
.peervideo object {
  width: 100%;
  height: auto;
  min-height: 450px;
  max-height: 450px;
  background: #000;
}

.peervideo .connstats-wrapper {
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 5px;
  margin: 0;
  text-align: right;
  display: none;
  z-index: 10;
}

.peervideo .connstats-wrapper button {
  background: rgba(44, 44, 44, .75);
  border: solid 1px #fff;
  color: #fff;
  outline: 0!important;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 0;
  border-right: 0;
}

.peervideo .connstats {
  background: rgba(88, 88, 88, .75);
  color: #fff;
  padding: 12px 17px 20px;
  font-size: 11px;
  display: none;
  margin: 0 0 0 5px;
  text-align: left;
}

.peervideo .connstats div:nth-child(2){
  margin-bottom: 15px;
}

.peervideo .connstats div:last-child {
  margin-bottom: 0;
}

.peervideo .connstats div b {
  display: block;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 5px;
}

.peervideo .connstats div p {
  margin: 0;
}

.peervideo .connstats .agent {
  text-transform: capitalize;
}

.panel .panel-heading small {
  display: block;
  color: #888;
  font-size: 10px;
}

#sample_video_panel video {
  width: 100%;
}

@media screen and (max-width:1999px){
  #credential_panel .panel-body {
    margin-bottom:15px;
  }
  #credential_panel .panel-body button {
    margin-left:14px;
  }
}
@media screen and (max-width:991px){
  video, object {
   display:block;
   width:100%;
  }
  video#local_video,
  object#local_video {
    right:0;
    position:static;
    display:block
  }
}
